:root{
    background: linear-gradient(#623CEA,#FC440F,#1EFFBC);
    background-color: #623CEA,#FC440F,#1EFFBC,#B4E33D,#FED18C;
    background-repeat: repeat;
}

* {
    background-color: #623CEA,#FC440F,#1EFFBC,#B4E33D,#FED18C;
    background-repeat: repeat;
    
}
.header{
    text-align: center;
    font-size: xx-large;
}
.main{
    font-size: large;
    text-align: center;
}